/* Job card styling */
.job-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  padding-top:0px;
  margin-bottom: 20px;
  background: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  line-height: 1.6;
  max-width: 350px;
  position: relative;
  overflow: hidden; /* Prevents overflow when collapsing */
  transition: all 0.3s ease;
  height: auto;
}

/* Expanding job card when details are visible */
.job-card.expanded {
  height: auto; /* Allow height to adjust */
  margin-bottom: 40px; /* Extra space when expanded */
}

/* Job details styling */
.job-details {
  display: none; /* Initially hidden */
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Visible state when job details are toggled */
.job-card.expanded .job-details {
  display: block; /* Show job details when expanded */
  transition: max-height 0.3s ease-in-out;
}

/* View Details Button Styling */
.view-details, .apply-details{
  margin-top: 10px;
  text-decoration: none;
  background-color: #000;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-details:hover {
  background-color: #333;
}

