/* ApplyJob.css */
.apply-job-container {
  max-width: 600px;
  width: 100%;
  margin-top: 50px;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.apply-job-header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.apply-job-form {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.apply-job-group {
  display: flex;
  flex-direction: row;
    justify-content: space-between;
}

.apply-job-label {
  font-size: 1rem;
  margin-bottom: 8px;
  color: #333;
}

.apply-job-input,
.apply-job-textarea,
.apply-job-input-file {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 12px;
  background-color: #fff;
  color: #333;
}

.apply-job-input:focus,
.apply-job-textarea:focus,
.apply-job-input-file:focus {
  border-color: #4caf50;
  outline: none;
}

.apply-job-textarea {
  height: 250px;
  resize: vertical;
}

.apply-job-input-file-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.apply-job-input-file-wrapper input[type="file"] {
  display: block;
  width: 100%;
  height: 40px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.apply-job-input-file-wrapper::before {
  content: "Choose a file";
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

.apply-job-input-file-wrapper:hover::before {
  background-color: #f0f0f0;
}

.apply-job-button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.apply-button {
  padding: 12px 24px;
  font-size: 1.1rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apply-button:hover {
  background-color: #555;
}

.apply-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.apply-job-group:last-child {
  margin-top: 20px;
  text-align: center;
}

.apply-job-group:last-child .apply-button {
  width: 200px;
}

/* Adjusting Cover Letter */
.apply-job-group.cover-letter-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.apply-job-textarea {
  height: 250px;
  resize: vertical;
}

/* For alignment of inputs and uniform padding */
.apply-job-input,
.apply-job-textarea {
  width: 100%;
}

/* Style for the resume file input */
.apply-job-input-file-wrapper {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 12px;
  display: inline-block;
  background-color: #fff;
}

.apply-job-input-file-wrapper input[type="file"] {
  display: none;
}

.apply-job-input-file-wrapper::before {
  content: "Choose File";
  display: inline-block;
  text-align: center;
  width: 100%;
}

.apply-job-input-file-wrapper:hover {
  background-color: #f0f0f0;
}

.apply-job-input-file-wrapper input[type="file"]:focus {
  border-color: #4caf50;
  outline: none;
}
