.body-container {
  font-family: Arial, sans-serif;

  max-width: 100%;
  margin: auto;
}

.intro-section {
  max-width: 1200px;
  text-align: center;
  margin: auto;
  border: 2px solid black;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  font-size: 16px;
}

.intro-section p {
  max-width: 1200px;
  margin: auto;
  font-size: 1.2rem;
  line-height: 1.2;
  font-size: 16px;
}
.recentjobs {
  margin-left: 30px;
}
.jobPostings {
  overflow: scroll;
  overflow-y: hidden;
}
.job-slider {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
}
.job-item {
  flex: 0 0 auto; /* Prevent items from shrinking */
  width: 250px; /* Set a consistent width for each card */
  margin-right: 20px;
}
.job-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: 20px 0;
  padding: 10px;
}

.job-item button {
  margin-top: 10px;
  background-color: #000000;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.job-item button:hover {
  background-color: #4f4f4f;
}

.search-results {
  margin:50px;
}
.search-results .job-cards{
  display: flex;
  flex-direction: row;
  overflow: scroll;
  overflow-y: hidden;
}