
  /* Styling for the login form container */
  .login-box {
    display: flex;
    flex-direction: column;
    margin: 70px 500px ;
    padding: 20px;
    max-width: 500px;
    border-radius: 10px; 
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center; 
  }
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  /* Styling for form headers */
  .login-form h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Label styling */
  .login-form label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  /* Input field styling */
  .login-form input {
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Button styling */
  .login-form button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    width: 500px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-form button:hover {
    background-color: #333;
  }
  
  /* Link to sign up page */
  .login-form p {
    font-size: 14px;
    color: #777;
  }
  
  .login-form a {
    color: blue;
  }
  
  .login-form a:hover {
    text-decoration: underline;
  }
  